{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ member.name }}的关系 | 雀跃{% endblock %}

{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}"> -->
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-md-1"><!-- 留白 --></div>
		
		<div class="col-md-4">
			<h3>
				<span>关注{{ '我' if current_user.id == member.id else member.name }}的</span>
				<span>&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;</span>
				<span>（共 {{ followers|length }} 项）</span>
			</h3>
			<hr />
			<div>
				{% for follower in followers %}
				<a href="{{ url_for('member.member_page', userid=follower.id) }}" target="_blank">
					<img class="avatar-m img-thumbnail" src="{{ follower.avatar_url }}" 
						title="{{ follower.name }}" alt="{{ follower.name }}">
				</a>
				{% endfor %}
			</div>
		</div>

		<div class="col-md-2"><!--  --></div>

		<div class="col-md-4">
			<h3>
				<span>{{ '我' if current_user.id == member.id else member.name }}关注的</span>
				<span>&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;</span>
				<span>（共 {{ followeds|length }} 项）</span>
			</h3>
			<hr />
			<div>
				{% for followed in followeds %}
				<a href="{{ url_for('member.member_page', userid=followed.id) }}" target="_blank">
					<img class="avatar-m img-thumbnail" src="{{ followed.avatar_url }}" 
						title="{{ followed.name }}" alt="{{ followed.name }}">
				</a>
				{% endfor %}
			</div>
		</div>

		<div class="col-md-1"><!--  --></div>

	</div><!-- row -->
</div>
{% endblock %}