{% extends "bootstrap/base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN') }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/insti_panel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block title %}通知 - 机构后台{% endblock %}

{% block content %}
<!-- 问候信息 -->
<div>
	<h2 class="greet text-center">欢迎你，{{ insti.name or insti.uurl|upper }}</h2>
</div>

<!-- 消息栏 -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
	<div class="alert {{ category }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span>{{ message }}</span>
	</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- 功能板 -->
<div class="container">
	<!-- tabs -->
	<ul class="nav nav-tabs">
	   	<li class="active"> 
	   		<a href="{{ url_for('institution.notifi', uurl=insti.uurl) }}">通知</a>
	   	</li>
	   	<li>
	   		<a href="{{ url_for('institution.event', uurl=insti.uurl) }}">活动管理</a>
	   	</li>
	   	<li>
	   		<a href="{{ url_for('institution.new_event', uurl=insti.uurl) }}">发布活动</a>
	   	</li>
	   	<li>
	   		<a href="{{ url_for('institution.profile', uurl=insti.uurl) }}">机构资料展示</a>
	   	</li>
	   	<li>
	   		<a href="{{ url_for('institution.settings', uurl=insti.uurl) }}">账户设置</a>
	   	</li>
	</ul>

	<!-- 通知 -->
	<div class="tab-pane">
		<div class="row">
			<div class="col-md-8">
				{{ wtf.quick_form(noti_form, button_map={'publish': 'success pull-right'}) }}
				<p><br><br></p>
				<hr />
				<!-- 通知列表 -->
				{% for noti in notis %}
				<div>
					<p class="noti-info">
						<small class="badge">{{ loop.index }}</small>
						<small class="text-muted">&nbsp;&nbsp;&brvbar;&nbsp;&nbsp;</small>
						<small class="text-muted">发表于{{ noti.post_time }}</small>
						<small class="text-muted">&nbsp;&nbsp;&brvbar;&nbsp;&nbsp;</small>
						<small><a href="{{ url_for('institution.delete_noti', uurl=insti.uurl, id=noti.id) }}">删除</a></small>
					</p>
					<blockquote>
						<p>{{ noti.content }}</p>
					</blockquote>
					<hr />
				</div>
				{% endfor %}

				{% if pagination %}
				<div>
					{{ macros.pagination_widget(pagination, 'institution.event', uurl=insti.uurl) }}
				</div>
				{% endif %}
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-3">
				<ul>
					<!-- <li><a href="">功能</a></li> -->
				</ul>
			</div>
		</div><!-- row -->
	</div><!-- tab-pane -->

</div>
{% endblock %}
